# CPSC_471_Project_Brainstorming.pdf
# CPSC_471_Project_Proposal.pdf
.DS_Store 
CPSC_471_Project_Proposal__Short_.pdf
EDA_data/
final_471_datasets/
in_class_coding/
models/private_key.pem 
models/public_key.pem
# models_save/
# runthroughs/